:root {
  --RubikFont: "Rubik", sans-serif;
  --MenuColor: #4a4a4a;
  --FontColor: #3cdbc0;
  --TextColor: #ffffff;
  --MenuFontSize: 16px;
}

body {
  margin: 0px;
}
.header {
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  background-color: white;
}

.logo {
  width: 155px;
  margin: 10px;
}

.menu {
  list-style-type: none;
  width: 155px;
  text-transform: uppercase;
  margin: 3px;
}
.botones {
  font-family: var(--RubikFont);
  color: var(--MenuColor);
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.blog-link {
  color: var(--MenuColor);
  font-family: var(--RubikFont);
  text-decoration: none;
  padding-right: 20px;
}

.contacto-link {
  color: var(--MenuColor);
  font-family: var(--RubikFont);
  text-decoration: none;
  padding-left: 20px;
}

.content {
  height: 100vh;
  width: 100vw;
  background-color: var(--FontColor);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  font-size: 30px;
  font-family: var(--RubikFont);
  text-align: center;
  color: var(--TextColor);
  text-transform: capitalize;
  width: 8em; /*o word-spacing: 100vw; */
}
